<nav class="nav">
    <div class="container">
      <div class="logo">
        <a href="#">YourLogo</a>
      </div>
      <div class="main_list" id="mainListDiv">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">My Work</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Contact</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user mx-1"></i> Profile
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/">My Account</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="media_button">
        <button class="main_media_button" id="mediaButton">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </nav>
  
  <section class="home"></section>
  